--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: consumption_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consumption_records (
    record_id bigint NOT NULL,
    session_id bigint NOT NULL,
    u_id bigint NOT NULL,
    units_consumed numeric(10,3) NOT NULL,
    cost numeric(10,2) NOT NULL,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT check_cr_positive_cost CHECK ((cost >= (0)::numeric)),
    CONSTRAINT check_cr_positive_units CHECK ((units_consumed >= (0)::numeric)),
    CONSTRAINT chk_cr_cost CHECK ((cost >= (0)::numeric)),
    CONSTRAINT chk_cr_units CHECK ((units_consumed >= (0)::numeric))
);


ALTER TABLE public.consumption_records OWNER TO postgres;

--
-- Name: TABLE consumption_records; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.consumption_records IS 'Final per-person billing outcome for each session. Written once, never updated.';


--
-- Name: COLUMN consumption_records.units_consumed; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.consumption_records.units_consumed IS 'kWh allocated to this user for this session.';


--
-- Name: COLUMN consumption_records.cost; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.consumption_records.cost IS 'Cost in Γé╣ allocated to this user for this session.';


--
-- Name: consumption_records_record_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.consumption_records_record_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consumption_records_record_id_seq OWNER TO postgres;

--
-- Name: consumption_records_record_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.consumption_records_record_id_seq OWNED BY public.consumption_records.record_id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    device_id character varying(50) NOT NULL,
    status character varying(20) DEFAULT 'offline'::character varying,
    uptime integer DEFAULT 0,
    last_heartbeat timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now(),
    r_id bigint,
    mac_address character varying(50),
    current_power_w double precision DEFAULT 0
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: hostels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hostels (
    hostel_id bigint NOT NULL,
    name character varying(150) NOT NULL,
    address text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    hostel_code character varying(50),
    is_active boolean DEFAULT true,
    rate_per_unit numeric(10,2) DEFAULT 10.00
);


ALTER TABLE public.hostels OWNER TO postgres;

--
-- Name: TABLE hostels; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.hostels IS 'Represents a hostel, PG, or flat managed by one admin.';


--
-- Name: COLUMN hostels.hostel_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.hostels.hostel_id IS 'Auto-incremented surrogate primary key.';


--
-- Name: COLUMN hostels.name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.hostels.name IS 'Hostel/PG display name, e.g. "ABC Boys Hostel".';


--
-- Name: COLUMN hostels.address; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.hostels.address IS 'Optional physical address for reference.';


--
-- Name: hostels_hostel_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hostels_hostel_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hostels_hostel_id_seq OWNER TO postgres;

--
-- Name: hostels_hostel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hostels_hostel_id_seq OWNED BY public.hostels.hostel_id;


--
-- Name: room_invitations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_invitations (
    invitation_id bigint NOT NULL,
    room_id bigint NOT NULL,
    sent_by bigint NOT NULL,
    sent_to bigint NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone,
    responded_at timestamp with time zone,
    CONSTRAINT chk_ri_no_self CHECK ((sent_by <> sent_to)),
    CONSTRAINT chk_ri_status CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'accepted'::character varying, 'rejected'::character varying, 'expired'::character varying])::text[])))
);


ALTER TABLE public.room_invitations OWNER TO postgres;

--
-- Name: TABLE room_invitations; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.room_invitations IS 'Tracks room join invitations. One pending invite per user per room.';


--
-- Name: COLUMN room_invitations.expires_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.room_invitations.expires_at IS 'Invitation auto-expires if not acted upon. NULL = no expiry.';


--
-- Name: room_invitations_invitation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_invitations_invitation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_invitations_invitation_id_seq OWNER TO postgres;

--
-- Name: room_invitations_invitation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_invitations_invitation_id_seq OWNED BY public.room_invitations.invitation_id;


--
-- Name: room_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.room_members (
    rm_id bigint NOT NULL,
    r_id bigint NOT NULL,
    u_id bigint NOT NULL,
    role character varying(20) DEFAULT 'member'::character varying NOT NULL,
    joined_at timestamp with time zone DEFAULT now() NOT NULL,
    left_at timestamp with time zone,
    CONSTRAINT chk_rm_role CHECK (((role)::text = ANY ((ARRAY['owner'::character varying, 'member'::character varying])::text[])))
);


ALTER TABLE public.room_members OWNER TO postgres;

--
-- Name: TABLE room_members; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.room_members IS 'Tracks who is (or was) in a room. left_at = NULL means currently in room.';


--
-- Name: COLUMN room_members.role; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.room_members.role IS 'owner = room creator with management rights; member = regular roommate';


--
-- Name: COLUMN room_members.left_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.room_members.left_at IS 'When the student left the room. NULL = still active member.';


--
-- Name: room_members_rm_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.room_members_rm_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.room_members_rm_id_seq OWNER TO postgres;

--
-- Name: room_members_rm_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.room_members_rm_id_seq OWNED BY public.room_members.rm_id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    r_id bigint NOT NULL,
    hostel_id bigint NOT NULL,
    created_by bigint NOT NULL,
    room_no character varying(20) NOT NULL,
    room_name character varying(100),
    capacity smallint DEFAULT 4 NOT NULL,
    rate_per_unit numeric(6,2) DEFAULT 8.00 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_rooms_capacity CHECK (((capacity >= 1) AND (capacity <= 20))),
    CONSTRAINT chk_rooms_rate CHECK ((rate_per_unit > (0)::numeric))
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: TABLE rooms; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.rooms IS 'A physical room inside a hostel. Hub of all activity.';


--
-- Name: COLUMN rooms.created_by; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.rooms.created_by IS 'The student who created this room ΓÇö the room owner.';


--
-- Name: COLUMN rooms.capacity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.rooms.capacity IS 'Max number of students allowed in this room.';


--
-- Name: COLUMN rooms.rate_per_unit; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.rooms.rate_per_unit IS 'Electricity tariff in Γé╣ per kWh for billing calculation.';


--
-- Name: rooms_r_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rooms_r_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rooms_r_id_seq OWNER TO postgres;

--
-- Name: rooms_r_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rooms_r_id_seq OWNED BY public.rooms.r_id;


--
-- Name: session_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_participants (
    sp_id bigint NOT NULL,
    session_id bigint NOT NULL,
    u_id bigint NOT NULL,
    status character varying(20) DEFAULT 'invited'::character varying NOT NULL,
    joined_at timestamp with time zone,
    left_at timestamp with time zone,
    leave_status character varying(20) DEFAULT 'none'::character varying,
    CONSTRAINT chk_sp_status CHECK (((status)::text = ANY ((ARRAY['invited'::character varying, 'accepted'::character varying, 'rejected'::character varying, 'left'::character varying])::text[]))),
    CONSTRAINT chk_sp_time_order CHECK (((left_at IS NULL) OR (joined_at IS NULL) OR (left_at > joined_at))),
    CONSTRAINT session_participants_leave_status_check CHECK (((leave_status)::text = ANY ((ARRAY['none'::character varying, 'pending'::character varying])::text[])))
);


ALTER TABLE public.session_participants OWNER TO postgres;

--
-- Name: TABLE session_participants; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.session_participants IS 'Per-person participation log. Drives billing calculation.';


--
-- Name: COLUMN session_participants.joined_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.session_participants.joined_at IS 'When they accepted/joined. NULL if still invited or rejected.';


--
-- Name: COLUMN session_participants.left_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.session_participants.left_at IS 'When they left. NULL if still in session.';


--
-- Name: session_participants_sp_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.session_participants_sp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.session_participants_sp_id_seq OWNER TO postgres;

--
-- Name: session_participants_sp_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.session_participants_sp_id_seq OWNED BY public.session_participants.sp_id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    session_id bigint NOT NULL,
    r_id bigint NOT NULL,
    created_by bigint NOT NULL,
    session_type character varying(20) DEFAULT 'unlimited'::character varying NOT NULL,
    target_value numeric(10,2),
    total_units numeric(10,3),
    rate_per_unit numeric(6,2) DEFAULT 8.00 NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    start_time timestamp with time zone DEFAULT now() NOT NULL,
    end_time timestamp with time zone,
    CONSTRAINT check_sessions_positive_units CHECK ((total_units >= (0)::numeric)),
    CONSTRAINT chk_sess_rate CHECK ((rate_per_unit > (0)::numeric)),
    CONSTRAINT chk_sess_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'completed'::character varying, 'cancelled'::character varying, 'booked'::character varying])::text[]))),
    CONSTRAINT chk_sess_time_order CHECK (((end_time IS NULL) OR (end_time > start_time))),
    CONSTRAINT chk_sess_type CHECK (((session_type)::text = ANY ((ARRAY['unlimited'::character varying, 'budget'::character varying, 'unit'::character varying, 'duration'::character varying, 'units'::character varying, 'amount'::character varying])::text[]))),
    CONSTRAINT chk_sess_units CHECK (((total_units IS NULL) OR (total_units >= (0)::numeric)))
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: TABLE sessions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.sessions IS 'One AC run = one session. Contains billing metadata.';


--
-- Name: COLUMN sessions.target_value; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sessions.target_value IS 'Limit value for duration/unit/budget session types.';


--
-- Name: COLUMN sessions.total_units; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sessions.total_units IS 'kWh consumed. Entered manually in MVP, from IoT device in future.';


--
-- Name: COLUMN sessions.rate_per_unit; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sessions.rate_per_unit IS 'Snapshot of rate at session creation. Immutable for billing integrity.';


--
-- Name: sessions_session_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sessions_session_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_session_id_seq OWNER TO postgres;

--
-- Name: sessions_session_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sessions_session_id_seq OWNED BY public.sessions.session_id;


--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.support_tickets (
    ticket_id integer NOT NULL,
    u_id integer,
    subject character varying(255) NOT NULL,
    message text NOT NULL,
    status character varying(20) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    seen_by_admin boolean DEFAULT false,
    CONSTRAINT support_tickets_status_check CHECK (((status)::text = ANY ((ARRAY['open'::character varying, 'resolved'::character varying])::text[])))
);


ALTER TABLE public.support_tickets OWNER TO postgres;

--
-- Name: support_tickets_ticket_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.support_tickets_ticket_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.support_tickets_ticket_id_seq OWNER TO postgres;

--
-- Name: support_tickets_ticket_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.support_tickets_ticket_id_seq OWNED BY public.support_tickets.ticket_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    u_id bigint NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    mobile character varying(15) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'student'::character varying NOT NULL,
    hostel_id bigint,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    push_token character varying(255),
    CONSTRAINT chk_users_role CHECK (((role)::text = ANY ((ARRAY['student'::character varying, 'admin'::character varying, 'super_admin'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.users IS 'All users: students and admins. Role differentiates them.';


--
-- Name: COLUMN users.password_hash; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.password_hash IS 'bcrypt hash of password. Never store plaintext.';


--
-- Name: COLUMN users.role; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.role IS 'Values: student | admin | super_admin';


--
-- Name: COLUMN users.hostel_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.hostel_id IS 'Admins are bound to one hostel. Students: NULL until in a room.';


--
-- Name: COLUMN users.is_active; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.is_active IS 'Soft delete / suspend flag. False = suspended user.';


--
-- Name: users_u_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_u_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_u_id_seq OWNER TO postgres;

--
-- Name: users_u_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_u_id_seq OWNED BY public.users.u_id;


--
-- Name: wallet_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallet_transactions (
    txn_id bigint NOT NULL,
    wallet_id bigint NOT NULL,
    session_id bigint,
    amount numeric(10,2) NOT NULL,
    type character varying(20) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_txn_amount CHECK ((amount > (0)::numeric)),
    CONSTRAINT chk_txn_type CHECK (((type)::text = ANY ((ARRAY['recharge'::character varying, 'consumption'::character varying, 'adjustment'::character varying, 'refund'::character varying])::text[])))
);


ALTER TABLE public.wallet_transactions OWNER TO postgres;

--
-- Name: TABLE wallet_transactions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.wallet_transactions IS 'Immutable ledger of all wallet credits and debits. Never update/delete rows.';


--
-- Name: COLUMN wallet_transactions.session_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.wallet_transactions.session_id IS 'Set for consumption transactions. NULL for recharge/adjustment.';


--
-- Name: COLUMN wallet_transactions.amount; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.wallet_transactions.amount IS 'Always positive. Use type field to know if credit or debit.';


--
-- Name: wallet_transactions_txn_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wallet_transactions_txn_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wallet_transactions_txn_id_seq OWNER TO postgres;

--
-- Name: wallet_transactions_txn_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wallet_transactions_txn_id_seq OWNED BY public.wallet_transactions.txn_id;


--
-- Name: wallets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wallets (
    wallet_id bigint NOT NULL,
    u_id bigint NOT NULL,
    balance numeric(10,2) DEFAULT 0.00 NOT NULL,
    total_recharged numeric(10,2) DEFAULT 0.00 NOT NULL,
    total_spent numeric(10,2) DEFAULT 0.00 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.wallets OWNER TO postgres;

--
-- Name: TABLE wallets; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.wallets IS '1:1 with users. Tracks prepaid AC balance. Must stay non-negative.';


--
-- Name: COLUMN wallets.balance; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.wallets.balance IS 'Current available balance. Kept in sync with transaction sum.';


--
-- Name: COLUMN wallets.total_recharged; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.wallets.total_recharged IS 'Lifetime total recharged by admin. Useful for reports.';


--
-- Name: COLUMN wallets.total_spent; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.wallets.total_spent IS 'Lifetime total consumed. Useful for reports.';


--
-- Name: wallets_wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wallets_wallet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wallets_wallet_id_seq OWNER TO postgres;

--
-- Name: wallets_wallet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wallets_wallet_id_seq OWNED BY public.wallets.wallet_id;


--
-- Name: consumption_records record_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumption_records ALTER COLUMN record_id SET DEFAULT nextval('public.consumption_records_record_id_seq'::regclass);


--
-- Name: hostels hostel_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hostels ALTER COLUMN hostel_id SET DEFAULT nextval('public.hostels_hostel_id_seq'::regclass);


--
-- Name: room_invitations invitation_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_invitations ALTER COLUMN invitation_id SET DEFAULT nextval('public.room_invitations_invitation_id_seq'::regclass);


--
-- Name: room_members rm_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members ALTER COLUMN rm_id SET DEFAULT nextval('public.room_members_rm_id_seq'::regclass);


--
-- Name: rooms r_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms ALTER COLUMN r_id SET DEFAULT nextval('public.rooms_r_id_seq'::regclass);


--
-- Name: session_participants sp_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_participants ALTER COLUMN sp_id SET DEFAULT nextval('public.session_participants_sp_id_seq'::regclass);


--
-- Name: sessions session_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions ALTER COLUMN session_id SET DEFAULT nextval('public.sessions_session_id_seq'::regclass);


--
-- Name: support_tickets ticket_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets ALTER COLUMN ticket_id SET DEFAULT nextval('public.support_tickets_ticket_id_seq'::regclass);


--
-- Name: users u_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN u_id SET DEFAULT nextval('public.users_u_id_seq'::regclass);


--
-- Name: wallet_transactions txn_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_transactions ALTER COLUMN txn_id SET DEFAULT nextval('public.wallet_transactions_txn_id_seq'::regclass);


--
-- Name: wallets wallet_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets ALTER COLUMN wallet_id SET DEFAULT nextval('public.wallets_wallet_id_seq'::regclass);


--
-- Name: consumption_records consumption_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumption_records
    ADD CONSTRAINT consumption_records_pkey PRIMARY KEY (record_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (device_id);


--
-- Name: hostels hostels_hostel_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hostels
    ADD CONSTRAINT hostels_hostel_code_key UNIQUE (hostel_code);


--
-- Name: hostels hostels_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hostels
    ADD CONSTRAINT hostels_pkey PRIMARY KEY (hostel_id);


--
-- Name: room_invitations room_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT room_invitations_pkey PRIMARY KEY (invitation_id);


--
-- Name: room_members room_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT room_members_pkey PRIMARY KEY (rm_id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (r_id);


--
-- Name: session_participants session_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_participants
    ADD CONSTRAINT session_participants_pkey PRIMARY KEY (sp_id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (session_id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (ticket_id);


--
-- Name: consumption_records uq_cr_session_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumption_records
    ADD CONSTRAINT uq_cr_session_user UNIQUE (session_id, u_id);


--
-- Name: room_invitations uq_ri_pending; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT uq_ri_pending UNIQUE (room_id, sent_to);


--
-- Name: room_members uq_rm_active; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT uq_rm_active UNIQUE (r_id, u_id);


--
-- Name: rooms uq_rooms_no_per_hostel; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT uq_rooms_no_per_hostel UNIQUE (hostel_id, room_no);


--
-- Name: session_participants uq_sp_user_session; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_participants
    ADD CONSTRAINT uq_sp_user_session UNIQUE (session_id, u_id);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: users uq_users_mobile; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_mobile UNIQUE (mobile);


--
-- Name: wallets uq_wallet_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT uq_wallet_user UNIQUE (u_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (u_id);


--
-- Name: wallet_transactions wallet_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT wallet_transactions_pkey PRIMARY KEY (txn_id);


--
-- Name: wallets wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_pkey PRIMARY KEY (wallet_id);


--
-- Name: idx_cr_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cr_date ON public.consumption_records USING btree (recorded_at DESC);


--
-- Name: idx_cr_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cr_session ON public.consumption_records USING btree (session_id);


--
-- Name: idx_cr_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cr_user ON public.consumption_records USING btree (u_id);


--
-- Name: idx_ri_room; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ri_room ON public.room_invitations USING btree (room_id);


--
-- Name: idx_ri_sent_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ri_sent_to ON public.room_invitations USING btree (sent_to);


--
-- Name: idx_ri_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ri_status ON public.room_invitations USING btree (status);


--
-- Name: idx_rm_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rm_active ON public.room_members USING btree (u_id) WHERE (left_at IS NULL);


--
-- Name: idx_rm_room; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rm_room ON public.room_members USING btree (r_id);


--
-- Name: idx_rm_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rm_user ON public.room_members USING btree (u_id);


--
-- Name: idx_rooms_hostel; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_rooms_hostel ON public.rooms USING btree (hostel_id);


--
-- Name: idx_sess_creator; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sess_creator ON public.sessions USING btree (created_by);


--
-- Name: idx_sess_room; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sess_room ON public.sessions USING btree (r_id);


--
-- Name: idx_sess_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sess_status ON public.sessions USING btree (status);


--
-- Name: idx_sp_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sp_session ON public.session_participants USING btree (session_id);


--
-- Name: idx_sp_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sp_status ON public.session_participants USING btree (status);


--
-- Name: idx_sp_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sp_user ON public.session_participants USING btree (u_id);


--
-- Name: idx_txn_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_txn_created ON public.wallet_transactions USING btree (created_at DESC);


--
-- Name: idx_txn_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_txn_session ON public.wallet_transactions USING btree (session_id);


--
-- Name: idx_txn_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_txn_type ON public.wallet_transactions USING btree (type);


--
-- Name: idx_txn_wallet; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_txn_wallet ON public.wallet_transactions USING btree (wallet_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_hostel; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_hostel ON public.users USING btree (hostel_id);


--
-- Name: idx_users_mobile; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_mobile ON public.users USING btree (mobile);


--
-- Name: uq_sess_one_active_per_room; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_sess_one_active_per_room ON public.sessions USING btree (r_id) WHERE ((status)::text = ANY ((ARRAY['pending'::character varying, 'active'::character varying])::text[]));


--
-- Name: devices devices_r_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_r_id_fkey FOREIGN KEY (r_id) REFERENCES public.rooms(r_id) ON DELETE SET NULL;


--
-- Name: consumption_records fk_cr_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumption_records
    ADD CONSTRAINT fk_cr_session FOREIGN KEY (session_id) REFERENCES public.sessions(session_id) ON DELETE CASCADE;


--
-- Name: consumption_records fk_cr_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumption_records
    ADD CONSTRAINT fk_cr_user FOREIGN KEY (u_id) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: room_invitations fk_ri_room; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT fk_ri_room FOREIGN KEY (room_id) REFERENCES public.rooms(r_id) ON DELETE CASCADE;


--
-- Name: room_invitations fk_ri_sent_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT fk_ri_sent_by FOREIGN KEY (sent_by) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: room_invitations fk_ri_sent_to; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_invitations
    ADD CONSTRAINT fk_ri_sent_to FOREIGN KEY (sent_to) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: room_members fk_rm_room; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT fk_rm_room FOREIGN KEY (r_id) REFERENCES public.rooms(r_id) ON DELETE CASCADE;


--
-- Name: room_members fk_rm_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.room_members
    ADD CONSTRAINT fk_rm_user FOREIGN KEY (u_id) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: rooms fk_rooms_created_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT fk_rooms_created_by FOREIGN KEY (created_by) REFERENCES public.users(u_id) ON DELETE RESTRICT;


--
-- Name: rooms fk_rooms_hostel; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT fk_rooms_hostel FOREIGN KEY (hostel_id) REFERENCES public.hostels(hostel_id) ON DELETE CASCADE;


--
-- Name: sessions fk_sess_created_by; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT fk_sess_created_by FOREIGN KEY (created_by) REFERENCES public.users(u_id) ON DELETE RESTRICT;


--
-- Name: sessions fk_sess_room; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT fk_sess_room FOREIGN KEY (r_id) REFERENCES public.rooms(r_id) ON DELETE RESTRICT;


--
-- Name: session_participants fk_sp_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_participants
    ADD CONSTRAINT fk_sp_session FOREIGN KEY (session_id) REFERENCES public.sessions(session_id) ON DELETE CASCADE;


--
-- Name: session_participants fk_sp_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_participants
    ADD CONSTRAINT fk_sp_user FOREIGN KEY (u_id) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: wallet_transactions fk_txn_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT fk_txn_session FOREIGN KEY (session_id) REFERENCES public.sessions(session_id) ON DELETE SET NULL;


--
-- Name: wallet_transactions fk_txn_wallet; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallet_transactions
    ADD CONSTRAINT fk_txn_wallet FOREIGN KEY (wallet_id) REFERENCES public.wallets(wallet_id) ON DELETE CASCADE;


--
-- Name: users fk_users_hostel; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_hostel FOREIGN KEY (hostel_id) REFERENCES public.hostels(hostel_id) ON DELETE SET NULL;


--
-- Name: wallets fk_wallet_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT fk_wallet_user FOREIGN KEY (u_id) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: support_tickets support_tickets_u_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_u_id_fkey FOREIGN KEY (u_id) REFERENCES public.users(u_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

